*{
  color: #292929;
}

.button {
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 2px;
  padding: 10px 15px;
  background-color: rgba(224, 238, 253, 0.54);
  font-size: 12px;
  margin-top: 10px;
}

.contentDiv{
  text-align: center;
}

#table{
  width: 100%;
  text-align: center;
  padding-right: 35px;
}

h2{
  text-align: center;
  padding: 20px;
  font-size: 40px;
}

h3{
  text-align: center;
  margin: 30px 0px 30px 0px;
  font-size: 25px;
}

#headline{
  text-align: center;
}

#editButton{
  margin-right: 41px;
}

#deleteButton{
  margin-right: -94px;
}

#goBackButton{
  margin: 0px 0px 40px 615px;
}
